# First ignore file from scratch!

# Sublime Text 3 Project Workspace 
*.sublime-project
*.sublime-workspace

# Discord Bot Config File
config.json

# Node package stuff
/node_modules/*

# My VBS app starting script
*.vbs